<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Poista tapahtuma</title>
</head>
<body>

    <h2>Poista tapahtuma</h2>

    <p>Oletko varma, että haluat poistaa tämän tapahtuman?</p>

    <ul>
        <li th:each="Tapahtuma: ${event}">
                <span th:text="${event.event_date}">Tapahtuman päiväys</span>
                <span th:text="${event.event_title}">Tapahtuman nimi</span>
            </a>
        </li>
    </ul>
    <form th:action="@{/event/delete/{id}(id=${event.event_id})}" method="POST">
        <input type="submit" value="Poista"/>
        <a th:href="@{/}" onclick="return confirm('Oletko varma, että haluat peruuttaa?');">Peruuta</a>
    </form>

</body>
</html>


