<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>"Tapahtumahaku"</title>
    </head>

    <body>

        <h1>Tapahtumat</h1>


        <ul>
            <p th:each="Tapahtuma: ${event}">
                
                    <span th:text="${event.event_date}">Tapahtuman päiväys</span>
                    <span th:text = "${event.event_time}"> Tapahtuman aika </span>
                    <span th:text="${event.event_title}">Tapahtuman nimi</span>
                    
                    <p>
                    <span th:each="category, stat : ${event.categories}">
                        <span th:text="${category.category_name}" > Kategoria
                        <span th:if="${!stat.last}">,</span> <!-- Lisää pilkku, jos ei ole viimeinen kategoria -->
                    </span>
                    </p>
                    
                    <p>
                        <span th:text="${event.event_description}">Tapahtuman kuvaus</span>
                    </p>  

                    <p><a th:href="@{/event/update/{id}(id=${event.event_id})}">Päivitä</a>
                    <a> TAI </a>
                    <a th:href="@{/event/delete/{id}(id=${event.event_id})}">Poista</a></p>
                    

                </a>
            </p>
        </ul>

        <a th:href="@{/}" onclick="return confirm('Haluatko varmasti palata alkuun?');">Paluu</a>


        









    </body>
</html>

