<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>"Etusivu"</title>
    </head>

    <body>

        <h1>Tapahtumat</h1>
        

        <p th:each="event : ${events}">
            <span th:text="${ event.event_title + ' - ' + event.event_date}"> </span> 
       
            <a th:href="@{/event/{id}(id=${event.event_id})}">Lisätietoja</a>
        
            <hr/>
        </p>



        <h2>Toiminnot</h2>
        <a th:href="@{/input/}"> Syötä uusi tapahtuma</a>
        <a> TAI </a>
        <a th:href="@{/logout}"> Kirjaudu ulos</a>

    </body>
</html>

